@use "/src/styles/abstracts" as *;

.pricing {
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.categoryTitleWrapper {
	@include mx-auto;
}

.categoryTitle {
	@include h2;
	font-weight: 400;
	text-transform: capitalize;
	margin-top: 1rem;
}

.cardsWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	width: 100%;
	margin-bottom: 1rem;
}
