@use "../functions" as f;

// Custom ====================================================================//

// Typography ================================================================//
/* stylelint-disable-next-line value-keyword-case */
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Colors ====================================================================//
$primary-color: #ef4444;
$secondary-color: #67697c;

$light: #fafaff;
$dark: #1b1e21;

$background-color: $dark;
$foreground-color: $light;

// Shortforms
$primary: $primary-color;
$secondary: $secondary-color;

$background: $background-color;
$foreground: $foreground-color;

$bg: $background-color;
$fg: $foreground-color;

// Breakpoints ===============================================================//
$xs: f.em(540);
$sm: f.em(720);
$md: f.em(960);
$lg: f.em(1140);
$xl: f.em(1320);
