@use "/src/styles/abstracts" as *;
@use "/src/styles/base/typography" as t;

.home, .main {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	flex-grow: 1;
}

.nav { z-index: 2; }

.mainWrapper {
	width: 100%;
	z-index: 1;
}

.main {
	justify-content: center;
	min-height: calc(100vh - $nav-height);
	overflow: hidden;
}

.mainSection {
	padding-bottom: $nav-height * 0.5;
}

.logo {
	@extend t, .h2 !optional;
}

// Mobile ====================================================================//
@include md-down {
	.main { min-height: 100vh; }
	.mainSection { padding-top: $nav-height * 0.5; }
}
