@use "/src/styles/abstracts" as *;
@use "/src/styles/base/base" as base;
@use "sass:math";
@use "sass:color";

.burger, .navTop {
	@include hide-sm-up;
}

.content {
	justify-content: space-between;
	height: $nav-height;
}

.logo { height: math.div($nav-height, 2); }

.linkList {
	display: flex;
	a:hover { text-decoration: none; }
}

.link {
	@extend base, .light-hover-primary !optional;
	@include h4;

	display: flex;
	align-items: center;
	margin-left: 4rem;
	padding: 0.5rem 0;
	border-radius: 8px;
}

// Media =====================================================================//
@include sm-down {
	.burger {
		position: fixed;
		right: $nav-padding;
		z-index: 3;
		margin-top: $nav-padding;
		background-color: $dark;
	}

	.nav {
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;

		background-color: $dark;
		transition: transform 1s;
		transform: translateX(100%);
	}

	.content {
		@include size(100%, 100vh);
		justify-content: center;
		padding: $nav-padding;
		overflow: auto;
	}

	.logo {
		position: absolute;
		top: $nav-padding * 0.5;
		left: $nav-padding;
	}

	.linkList {
		flex-direction: column;
		align-items: center;
	}

	.link { margin: 0; }

	// OPEN NAV ================================================================//
	.nav.open {
		position: fixed;
		transform: translate(0);
	}
}
