@use "/src/styles/abstracts" as *;
@use "/src/styles/base/base" as base;
@use "sass:math";

// TODO: Improve burger visibility
.content {
	justify-content: space-between;
	height: $nav-height;
}

.logo img { height: math.div($nav-height, 2); }

.linkList {
	display: flex;
	a:hover { text-decoration: none; }
}

.link {
	@extend base, .light-hover-primary !optional;
	@include h4;

	display: flex;
	align-items: center;
	margin-left: 4rem;

	border-radius: 8px;
}

// Media =====================================================================//
@include sm-down {
	.nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;

		width: 100vw;
		padding: $nav-padding;
	}

	.navTop {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		height: $nav-sm-height;
		width: 100%;
	}

	.content {
		display: none;
		height: 100vh;
		width: 100%;
	}

	.logo {
		display: none;
		position: absolute;
		top: 0;
		left: 50%;

		padding-top: $nav-padding;
		transform: translateX(-50%);

		img { padding: $nav-sm-height * 0.1; }
	}

	.linkList { flex-direction: column; }

	.link {
		margin: 0;
		padding: 0.5rem 0;
	}

	// OPEN NAV ================================================================//
	.nav.open {
		background-color: $dark;
		position: fixed;

		.content, .logo { display: block; }
	}

	.hideSmDown { display: none; }
}

@include sm-up { .hideSmUp { display: none; } }
