@use "/src/styles/abstracts" as *;

.title {
	@include page-title;
	@include lg-up { font-size: min(5vw, $page-title-fs); }
}

.subtitle {
	@include h1;
	@include lg-up { font-size: min(4vw, $h1-fs); }
}

.info {
	@include h3;

	line-height: 1.5;
	font-weight: 200;

	@include lg-up { font-size: min(2.5vw, $h3-fs); }
}

.title,
.subtitle {
	line-height: 1.25;
}

// Animation =========================//
$delay-interval: 0.2s;

.fadeIn {
	animation: fade-in ease-out 0.75s forwards;
	opacity: 0;
}

.fadeIn.subtitle { animation-delay: $delay-interval * 1; }
.fadeIn.info { animation-delay: $delay-interval * 2; }
.fadeIn.buttons { animation-delay: $delay-interval * 3; }

@keyframes fade-in {
	from { transform: translateY(5rem); }

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
