@use "/src/styles/abstracts" as *;
@use "/src/styles/base/typography" as t;
@use "sass:math";

// Nav
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: $nav-height;
}

// List items
.logo img { height: math.div($nav-height, 2) !important; }

.links {
	display: flex;

	.link {
		@include h4;

		display: flex;
		align-items: center;
		margin-left: 4rem;
		color: $fg;
	}
}

// TODO: CTA styling
// .cta {

// }

// Dropdown
.menuIcon {
	@extend t, .material-icons !optional;
	font-size: 1rem !important;
}
