@use "../functions" as f;
@use "../variables" as v;
@use "media" as *;

// Custom ====================================================================//
@mixin hide-sm-down { @include sm-down { display: none; } }
@mixin hide-sm-up { @include sm-up { display: none; } }

// Typography ================================================================//
@mixin page-title { font-size: v.$page-title-fs; font-weight: 600; }
@mixin h1 { font-size: v.$h1-fs; font-weight: 500; }
@mixin h2 { font-size: v.$h2-fs; font-weight: 500; }
@mixin h3 { font-size: v.$h3-fs; font-weight: 500; }
@mixin h4 { font-size: v.$h4-fs; font-weight: 500; }
@mixin h5 { font-size: v.$h5-fs; font-weight: 500; }
@mixin h6 { font-size: v.$h6-fs; font-weight: 500; }

// Hacks / Fixes =============================================================//
// !TODO: Add to template
@mixin clamp-width($min, $max, $width: "") {
	min-width: $min;
	max-width: $max;

	@if $width != "" { width: $width; }
}

@mixin v-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Limit the amount of vertical for a text
@mixin v-clamp($lines) {
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	/* stylelint-disable-next-line value-no-vendor-prefix */
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

// Shorthands ================================================================//
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// padding / Margin ==================//
@mixin reset-pm {
	padding: 0;
	margin: 0;
}

// Margins ===========================//
@mixin mx($size) {
	margin-left: $size;
	margin-right: $size;
}

@mixin my($size) {
	margin-top: $size;
	margin-bottom: $size;
}

@mixin mx-auto {
	margin-left: auto;
	margin-right: auto;
}

@mixin my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

// Paddings ==========================//
@mixin px($size) {
	padding-left: $size;
	padding-right: $size;
}

@mixin py($size) {
	padding-top: $size;
	padding-bottom: $size;
}

@mixin px-auto {
	padding-left: auto;
	padding-right: auto;
}

@mixin py-auto {
	padding-top: auto;
	padding-bottom: auto;
}
