@use "/src/styles/abstracts" as *;
@use "/src/styles/base/base" as base;
@use "sass:color";

.footer, .contentWrapper, .content {
	height: $footer-height;
}

.footer a { @extend base, .light-hover-primary !optional; }

.contentWrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	background-color: color.scale($dark, $lightness: 2.5%);
}

.content {
	width: 100%;
	display: flex;

	& > * { flex-basis: 33.3%; }
}

// Groups ====================================================================//
.header { @include h5; }

.social {
	justify-content: center;

	ul {
		display: flex;
		.socialIcon { padding: 0 1rem; }
	}
}

.links {
	justify-content: end;
	flex-wrap: nowrap;
	ul { padding: 0 2rem; }
}

// MEDIA =====================================================================//
@include md-down {
	.footer, .contentWrapper, .content {
		height: $footer-height-column;
	}

	.content {
		flex-direction: column;
		& > * { margin: 1rem 0; }
	}

	.social, .links, .author {
		justify-content: center;
	}

	.social { order: 0; }
	.links { order: 1; }
	.author { order: 2; }
}
