@use "../abstracts" as *;
@use "sass:color";

html {
	::-webkit-scrollbar { width: 14px; }

	::-webkit-scrollbar-track {
		background-color: color.scale($dark, $lightness: -25%);
		border-radius: 1rem;
	}

	::-webkit-scrollbar-thumb {
		background-color: color.scale($dark, $lightness: 10%);
		border-radius: 1rem;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: color.scale($dark, $lightness: 15%);
	}
}
